.btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  text-align: center;
  text-transform: uppercase;
  width: 102px;
  height: 48px;
  cursor: pointer;
  border: none;
}
