.navbar {
  padding: 28px 0;
  @include onTablet {
    display: none;
  }
  &__list {
    display: flex;
    justify-content: center;
    column-gap: 84px;
    row-gap: 30px;
    flex-wrap: wrap;
  }

  &__link {
    @include text-secondary;
    color: $dark;

    &.active {
      text-shadow: 0 0 1px rgb(0, 0, 0);
    }

    @include isHover {
      &:hover {
        text-shadow: 0 0 1px rgb(0, 0, 0);
      }
    }
  }
}
