.toggle {
    &__text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $grey;
  
      &.active {
        color: $dark;
      }
   
      @include isHover {
        &:hover {
          color: $dark;
        }
      }
    }
  }